
{% extends 'pages/base.html' %}

{% block blue %}
    
    
{% endblock blue %}

{% block about %}

<div class="card text-white bg-custom-1 mb-3" style="max-width: 45rem;">
    <h5 class="card-header">Hey , my name is Ashwin.</h5>
    <div class="card-body">
      <!-- <h5 class="card-title"><small>24th August 2021</small></h5> -->
      <p class="card-text">
        
            <h6>I live in Mumbai , currently working in <b>CRISIL</b> as an SDE .</h6>
            <h6>This is my pet project on Django , deployed using Heroku.</h6>
            <h6>Im interested in fields like Machine Learning , Data visualization , Microservices and DevOps. </h6>
            <h6>Rap and Lo-fi are my favorite genre of music. </h6>
            <h6>Check out my other projects on Github , You'll find it on the navbar. <i class="fa fa-heart" style="font-size:28px;color:red"></i> </h6>
     </p>
      
    </div>
  </div>

{% endblock about %}
