
{% extends 'pages/base.html' %}

{% block blue %}
    
    
{% endblock blue %}

{% block about %}

<section class = 'Bio'>
    <h1>Hello my name is Ashwin.</h1>
    <h4>I live in Mumbai , currently pursuing Masters of Computer Applications from KJSIM Vidyavihar (Class of '21).</h4>
    <h4>This is my pet project on Django , deployed using Heroku.</h4>
    <h4>Im interested in fields like Machine Learning , Data visualization , Blockchain and App Development.</h4>
    <h4>Rap and Lo-fi are my favorite genre of music. </h4>
    <h4>Check out my other projects on Github , You'll find them on the navbar. <i class="fa fa-heart" style="font-size:28px;color:red"></i> </h4>
    
</section>

{% endblock about %}
