<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Unchained</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="{{ STATIC_URL }}scrolling-nav.css" rel="stylesheet">
</head>

<style>
    header
    {
        padding : 120px 0 100px;
    }
    nav
    {
        padding: 5px;
    }
    section
    {
        padding: 80px 0;
    }
    .navbar
    {
        margin-bottom: 0;
    }
</style>


<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">BoopBoop</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>

      </ul>
    </div>
  </nav>
  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>  yo waht up</h1>
      <p class="lead">Trying some shit out</p>
    </div>
  </header>
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          {% block about %}

          {% endblock about %}
        </div>
      </div>
    </div>
  </section>
  <section id = "graph">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
            {% block graph %}
            
            {% endblock graph %}
        </div>

      </div>
    </div>
  </section>
  
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js"></script>

</body>

</html>