{% extends 'pages/base.html' %}

{% block blue %}
    <h1><b> Welcome to my Webfolio . </b> </h1>
    <p class="lead"> The Graph below shows number of visits here per day. </p>
    <b><h6>Ignore the red line its just for looks xd.</h6></b>
{% endblock blue %}



{% block graph %}
        
    <script>
          
        vals = JSON.parse("{{ count }}");
        var charData = {
            "type":"line",
            "series" : [
            { "values":  vals },
            {"values": [5,5,5,5,5,5,5,5,5,5]}
            ]
        };

        zingchart.render({
            id : "charts",
            data : charData
        });


    </script>
{% endblock graph %}


